html {
  background: #45617E url(/images/grad-2.gif) repeat-x scroll 0 0;
  color: #4D4D4D;
  font-family: 'Lucida Grande',Lucida,Verdana,Arial,Helvetica,sans-serif;
}

.innerCenter {
  width: 998px;
  margin: 0 auto;
}

#topNav {
  float:right;
  padding:20px 40px 0 0;
}

#topNav li {
  display:inline;
  float:left;
  font-size:12px;
}
a {
  outline-color:-moz-use-text-color;
  outline-style:none;
  outline-width:medium;
  text-decoration:none;
}

td a, .paginated a, .supplementaryContent a, .book-header a {
    color:#DD1F00;
}

#topNav a {
  color:#496179;
  float:left;
  font-weight:bold;
  text-decoration:none;
}
#logo a {
  display:block;
  height:83px;
  overflow:hidden;
/*  text-indent:-9999px;*/
}
#branding {
  background:transparent url(/images/top-black-998.png) no-repeat scroll 0 0;
  clear:both;
  padding:0 14px;
  width:970px;
}

#branding .inner {
  background:transparent url(/images/bottom-black-short.png) no-repeat scroll 0 100%;
  clear:both;
  float:left;
  padding:10px 10px 17px;
  width:950px;
}

#logo {
  float:left;
  padding:31px 0 17px 28px;
  width:140px;
}

#mainNav {
  background:transparent url(/images/main-nav-m.png) no-repeat left center;
  display:inline;
  float:right;
/*  height:47px;*/
  margin:52px 44px 22px 0;
  overflow:hidden;
  width:636px;
}

#mainNav ul {
  width:100%;
  padding-left: 20px;
}

#mainNav ul li a {
  color: #858585;
  font-weight: bold;
  font-size: 14px;
}

#mainNav ul li.active a {
  color: #fff;
}

#mainNav li {
  padding: 20px 10px;
  display:inline;
  float:left;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0 !important;
}

#content .innerCenter {
  background:transparent url(/images/sheet-middle.png) repeat-y scroll 50% 0;
  min-height:900px;
  padding:0 24px;
  width:950px;
}

#content .innerCenter .innerGrid {
  background:transparent url(/images/content-top-gradient.gif) no-repeat scroll 0 0;
  width:950px;
}


.mainContent {
  color:#000000;
  float:left;
  padding:20px 40px 20px 24px;
  width:552px;
}

.mainContent {
  padding:20px 10px 20px 10px;
  width:596px;
}

.letters {
  font-size: 12px;
}

.supplementaryContent {
  background:transparent url(/images/sidebar-grad.jpg) no-repeat scroll 0 43px;
  color:#4D4D4D;
  float:left;
  min-height:770px;
  padding:50px 20px 20px 25px;
  width:289px;
}

#search-filter a {
    color:#DD1F00;
    font-weight:bold;
    text-decoration:underline;
}

table {
border-collapse:collapse;
font-size:inherit;
table-layout:fixed;
width: 100%;
}

table td {
    padding: 3px 10px 4px 0;
    vertical-align: top;
}

#books-listing {
border-top:2px solid #EBE9E2;
clear:both;
table-layout:fixed;
width:606px;
margin-top: 15px;
}

#books-listing tbody th, #books-listing tbody td {
border-bottom:2px solid #EBE9E2;
}

#books-listing .cover {
    width: 70px;
    text-align: center;
    height: 80px;
    padding: 3px 10px 4px 0;
}

#books-listing .can-rent {
    width: 160px;
}

#books-listing .cover img {
    display: block;
}

.book-header {
clear:left;
float:left;
width:100%;
}

.book-header .book-logo {
margin:0 0 10px;
}

.l-r {
background:#F9F6EE url(/images/lr.gif) no-repeat scroll 100% 100%;
color:#999389;
float:left;
margin:0 0 18px -5px;
position:relative;
}

.l-l {
background:transparent url(/images/ll.gif) no-repeat scroll 0 100%;
float:left;
padding:0 0 6px;
}

.u-l {
background:transparent url(/images/ul.gif) no-repeat scroll 0 0;
float:left;
}

.u-l p {
background:transparent url(/images/ur.gif) no-repeat scroll 100% 0;
float:left;
line-height:1.2;
margin:0 !important;
padding:4px 12px 0;
}

.book-header h4 {
float:none !important;
margin-bottom:0.3em;
}

#book-header .meta-heading, #content .meta-thin-lf {
-x-system-font:none !important;
color:#DD1F00 !important;
font-family:Arial,Helvetica,sans-serif !important;
font-size:42px !important;
font-size-adjust:none !important;
font-stretch:normal !important;
font-style:normal !important;
font-variant:normal !important;
font-weight:normal !important;
line-height:42px !important;
margin:8px 0 10px !important;
padding:0 !important;
}

.cufon-canvas canvas {
position:relative;
}

.book-extra-info {
    color: #888;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.2;
}

.book-extra-info label {
    font-weight: normal;
    
}

.supplementaryContent form {
    margin: 10px 0;
}

#branding h1 a {
    color: #fff;
    font-size: 20px;
}

form p.inline label {
    float: left;
    width: 120px;
}
